<app-header></app-header>
<ng-container *ngIf="true">
  <div class="card-table">
    <div class="cart-product">
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>Product Name</th>
            <th>Produce Image</th>
            <th>Description</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Remove</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</ng-container>



<ng-container>
  <div class="container">
    <div class="card">
      <ng-container *ngFor="let item of _myCart">
        <div class="card col-md-3">
          <img src="{{item.img}}" alt="">
          <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
          <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.description}}</p>
          <p><strong>Price: </strong>${{item.price}}</p>
        </div>
      </ng-container>
      <button routerLink="/products" class="btn btn-primary">Shop Now</button>
  </div>
  </div>
</ng-container>
